/ %div{id: "subscribers"}
/ %div{id: "publisher"}
/ %script
/   var apiKey = '<%= @api_key %>';
/   var sessionId = '<%= @session_id %>';
/   var token = '<%= @token %>';
 

/ %script{src: "/js/helloworld.js"}


/ %div#subscribers
/ %div#publisher
/ #subscribers
/ #publisher